.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cat-img{
   padding-top: 30px;
}

.btn{
    box-shadow:  15px 15px 2px 1px rgba(0, 0, 255, .2);;
    padding: 10px;
    width:246px;
    border-radius: 20px;
}


